<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    {% seo %}
  </head>
  <body>
    <header>
      <h1><a href="{{ '/' | relative_url }}"><img src="assets/Jan25Logo_acorn.svg" alt="Great South Bay Coffee: Great Coffee for the Great South Bay" /></a></h1>
      <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
        <a href="{{ '/blog/' | relative_url }}">Blog</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}
    </footer>
  </body>
</html>
